body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #204220;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

section {
    padding: 20px;
    flex: 1;
}

#direccion {
    margin-bottom: 50px; /* Ajuste de margen inferior para la dirección */
}

.botones-container {
    display: flex;
    justify-content: center;
    overflow-x: auto; /* Permite el desplazamiento horizontal en dispositivos móviles */
    white-space: nowrap; /* Evita que los botones se envuelvan a una nueva línea */
}

.botones-container button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 0 10px;
    background-color: #204220;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



